<div class="container my-2">
    <div class="row">
        <ng-container *ngFor="let categorie of categories; let i = index;">
            <div class="col-md-4 col-xs-6">
                <app-single-card [element]="categorie"/>
            </div>
            <div *ngIf="(i + 1) % 3 === 0"></div>
        </ng-container>
    </div>
    <div class="container py-5 home" *ngIf="categories==null">
        <div class="d-flex flex-column align-items-center">
            <h3>{{errorMsg}}</h3>
        </div>
    </div>
</div>