<footer class="bg-dark-subtle text-dark border-top border-danger border-4">
    <div class="py-2">
        <div class="container">
            <div class="row d-flex flex-row">
                <div class="col-md-3 col-xs-6">
                    <div class="my-3">
                        <h3 class="mb-3 text-uppercase fs-3">A propos de nous</h3>
                        <p>Nous sommes une boutique de ventes de vélos et voici notre portail web pour la vente en ligne</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="my-3">
                        <h3 class="mb-3 text-uppercase fs-3">Support</h3>
                        <ul class="footer-links">
                            <li><a>FAQ</a></li>
                            <li><a>Knowledge base</a></li>
                            <li><a>Garantie</a></li>
                            <li><a>Nouveauté</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="my-3">
                        <h3 class="mb-3 text-uppercase fs-3">Informations</h3>
                        <ul class="footer-links">
                            <li><a>A propos de nous</a></li>
                            <li><a>Contactez nous</a></li>
                            <li><a>Politique de confidentialité</a></li>
                            <li><a>Termes & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="my-3">
                        <h3 class="mb-3 text-uppercase fs-3">Services</h3>
                        <ul class="footer-links">
                            <li><a>Mon compte</a></li>
                            <li><a>Voir panier</a></li>
                            <li><a>Aide</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-footer" class="py-2">
        <div class="container">
            <hr/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="d-block fs-5">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>